{{!-- <div class="container">
    <div class="footer_logo">
    </div>
    <div class="footer_info_row">
        <div class="footer_info_col">
            <span> Legal </span>
            <a> Privacy Policy </a>
            <a> Security </a>
            <a> FAQ </a>
        </div>
        <div class="footer_info_col">
            <span> Support </span>
            <a> Telegram </a>
            <a> Gmail </a>
        </div>
        <div class="footer_info_col">
            <span> Company </span>
            <a> Application </a>
            <a> Facilities </a>
            <a> About Us </a>
        </div>
    </div>
</div> --}}