{{!-- <div class="container">
    <div class="sidebar_body">
        <a href="/" class="sidebar_logo">logo</a>
        <input class="search-inp" type="text" placeholder="Search">
        {{>navbar}}
    </div>
</div> --}}