<nav class="sidebar_menu">
  <div class="nav_header">
    <div class="drop_down_menu">
      <button class="menu-btn">
        <div class="menu_icon"></div>
      </button>
    </div>
    <div class="searchInput">
      <input class="search-inp" type="text" placeholder="Search" />
    </div>
  </div>
  <div class="sidebar_contacts flex-c">
    <a class="a_contact">
      <div class="contact flex-r">
        <div class="img_status">
          img
        </div>
        <div class="contact_info flex-c">
          <div class="upper-row flex-r">
            <span>Dave</span>
            <span>03:24</span>
          </div>
          <div class="down-row flex-r">
            <span>
              How r u
            </span>
            <span>
              pin
            </span>
          </div>
        </div>
      </div>
    </a>
  </div>
  {{!-- <ul class="sidebar_menu_ul">
    {{#if isStock}}
      <li> <a href="/stock" class="page_active">В наличии</a> </li>
    {{else}}
      <li> <a href="/stock">В наличии</a> </li>
    {{/if}}

    {{#if isOrder}}
      <li> <a class="page_active">Заказать</a> </li>
    {{else}}
      <li> <a>Заказать</a> </li>
    {{/if}}

    {{#if isReview}}
      <li> <a href="/review" class="page_active">Отзывы</a> </li>
    {{else}}
      <li> <a href="/review">Отзывы</a> </li>
    {{/if}}
  </ul> --}}
</nav>