<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/inputs.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/chat.css">
</head>

<body>
<div class="wrapper">
        <sidebar>
            {{>sidebar}}
        </sidebar>

        <main>
            {{{body}}}
        </main>

        {{!-- <footer>
            {{>footer}}
        </footer> --}}
</div>
</body>

</html>