<head>
  <link rel="stylesheet" href="/css/authoReg.css">
</head>

<div class="authorization">
  <div class="authorization-window">
    <form class="authorization-form" method="post">
      <h1> Sign In </h1>

        

      <div class="label-container">

        <label>
          Login
          <input class="authReg-inp" type="text" placeholder="Login" name="login" />
        </label>

        <label>
          Password
          <input class="authReg-inp" type="password" placeholder="Password" name="password" />
        </label>

      </div>
      <input class="submit-inp" type="submit" value="SUBMIT" />
    </form>
  </div>
</div>