<div class="discuss">
  <div class="chat_header">
    <div class="chat_header_main">
      <div class="chat_info">
        <div class="chat_img">
          img
        </div>
        <div class="status_bar">
          <div>
            name
          </div>
          <div>
            status
          </div>
        </div>
      </div>
      <div class="header_chat_btns">
        <button class="header_chat-btn mg1rem">
          <div class="magnifying-glass"></div>
        </button>
        <button class="header_chat-btn mg1rem">
          <div class="chat_more-actions"></div>
        </button>
      </div>
    </div>
  </div>
  <div class="chat_open">
    <div class="getMessage flex-r">
      <div class="message">
        qwe
      </div>
    </div>
    <div class="sendMessage flex-r">
      <div class="message">
        qqqqq
      </div>
    </div>
  </div>
  <div class="inputMessage">
    <div class="inputMessage_body">
      <button class="message-btn">
        <div class="emoji-smile">
          <div></div>
        </div>
      </button>
      <div class="message">

      </div>
      <div class="attachment">

      </div>
      <div class="sendMessage-btn">

      </div>
    </div>
  </div>
</div>